/* *****************
RESET FONT-SIZE
***************** */

h2, .h2 {
    font-size: 2.5rem;
}

h3, .h3 {
    font-size: 2.3rem;
}

h4 .h4 {
    font-size: 1.3rem;
}

h5, .h5, .small, footer {
    font-size: 0.9rem;
}

/* **********************
CLASSI LAYOUT
********************** */

/* *****HEADER***** */
nav > div:nth-child(1) div {
    width: 75px;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

nav > div:nth-child(1) div img {
    width: 100%;
}

/* *****MAIN***** */

/* main hero */
.main_hero {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    min-height: 500px;
}

.main_hero .main_hero_card {
    padding-top: 200px;
}

.main_hero .main_hero_card img {
    width: 270px;
}

/* second hero */
.second_hero {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.second_hero .second_hero_card img {
    width: 270px;
}

/* sezione ps plus */
.psplus_section .psplus_section_text img {
    width: 270px;
}

.psplus_section .psplus_section_text {
    padding-left: 10px;
    padding-right: 10px;
}

/* sezione ps now */
.psnow_section .psnow_section_text img {
    width: 270px;
}

.psnow_section .psnow_section_text {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

/* *****FOOTER***** */

.footer_globo {
    width: 20px;
    margin-right: 20px;
}

.footer_sigla_sony {
    width: 150px;
}

/* ******************
CLASSI UTILITIES
****************** */

/* sfondo e colori */
.bg_black {
    background-color: black;
}

.bg_darkgrey {
    background-color: #1f1f1f;
}

.bg_grey_psplus {
    background-color: #bebcbb;
}

.bg_light_grey {
    background-color: #d9dadc;
}

.bg_grey {
    background-color: #727272;
    color: white;
}

.bg_cyan {
    background-color: #2d64e6;
    color: white;
}

.bg_blue {
    background-color: #00439c;
}

.bg_darkblue {
    background-color: #161c3b;
}

.bg_red {
    background-color: #cd3d0f;
    color: white;
}

.c_grey {
    color: #727272;
}

.c_white {
    color: white;
}

.c_cyan {
    color: #2d64e6;
}

.c_lightblue {
    color: #0072ce;
}

/* btn/link effetti hover e focus */
.bg_grey:hover {
    color: white;
}

.bg_grey:focus {
    box-shadow: none;
}

.bg_red:hover {
    color: white;
}

.bg_red:focus {
    box-shadow: none;
}

.bg_cyan:hover {
    color: white;
}

.bg_cyan:focus {
    box-shadow: none;
}

.bg_light_grey:hover {
    color: #2d64e6;
}

.bg_light_grey:focus {
    box-shadow: none;
}

nav ul:nth-child(1) a:hover,
nav ul:nth-child(2) li:first-child a:hover {
    color: blue !important;
}

/* padding sezioni e testi/titoli */
.section_base_p {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_medium_p {
    padding-top: 35px;
    padding-bottom: 35px;
}

.section_small_p {
    padding-top: 25px;
    padding-bottom: 25px;
}

.title_section_p {
    margin-bottom: 18px;
}

.subtitle_section_p {
    margin-bottom: 14px;
}

/* border radius */
.b_radius {
    border-radius: 15px;
    overflow: hidden;
}

/* linee, bordi e opacity */
.underline_blue {
    position: relative;
}

.underline_blue::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0072ce;
}

.item_opacity {
    opacity: 0.5;
}

.item_opacity:hover {
    opacity: 1;
}

.border_blue {
    position: relative;
}

.border_blue::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 3px;
    right: 3px;
    bottom: -5px;
    border: 2px solid #0072ce;
    border-radius: 20px;
}

/* ***************************
MEDIA QUERIES
*************************** */

/* sm */
@media screen and (min-width: 576px) {
    
}

/* md */
@media screen and (min-width: 768px) {
    .main_hero .main_hero_card img {
        width: 300px;
    }

    .second_hero .second_hero_card img {
        width: 300px;
    }

    .psplus_section .psplus_section_text {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .psplus_section .psplus_section_text img {
        width: 240px;
    }

    .psnow_section .psnow_section_text {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .psnow_section .psnow_section_text img {
        width: 240px;
    }

    .long_list {
        margin-bottom: 3rem !important;
    }
}

/* lg */
@media screen and (min-width: 992px) {
    .main_hero .main_hero_card img {
        width: 240px;
    }

    .second_hero .second_hero_card img {
        width: 240px;
    }

    .psplus_section .psplus_section_text {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .psplus_section .psplus_section_text img {
        width: 270px;
    }

    .psnow_section .psnow_section_text {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .psnow_section .psnow_section_text img {
        width: 270px;
    }

    .long_list {
        margin-bottom: 0 !important;
    }
}